* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #091921;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    color: #215E65;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container label {
    position: relative;
}

.container label input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.container label .fa {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #091921;
    line-height: 4rem;
    text-align: center;
    margin: 0 0.25rem;
    color: #6F6F6F;
    font-size: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                2px 2px 6px rgba(0, 0, 0, 0.8);
}

.container label .fa:hover {
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                2px 2px 6px rgba(0, 0, 0, 0.8),
                inset -2px -2px 10px rgba(255, 255, 255, 0.05),
                inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.container label input:checked ~ .fa {
    color: #00FFF1;
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 1);
    text-shadow: 0 0 0.35rem #00FFF1,
                 0 0 1.25rem #00FFF1;
}